@font-face {
  font-family: "iconfont"; /* Project id 3532097 */
  src: url('./../fonts/iconfont.woff2?t=1658387551350') format('woff2'),
       url('./../fonts/iconfont.woff?t=1658387551350') format('woff'),
       url('./../fonts/iconfont.ttf?t=1658387551350') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chuanbo:before {
  content: "\e63a";
}

.icon-yunjiankong:before {
  content: "\e743";
}

.icon-quanmianfugai:before {
  content: "\e657";
}

.icon-shishishuju:before {
  content: "\e61a";
}

.icon-wulumuqishigongandashujuguanlipingtai-ico-:before {
  content: "\e7e9";
}

.icon-RectangleCopy1:before {
  content: "\e6a7";
}

.icon-RectangleCopy2:before {
  content: "\e6de";
}

.icon-tongjiyuce:before {
  content: "\e74f";
}

.icon-RectangleCopy:before {
  content: "\e6a3";
}

.icon-shuiweizhan:before {
  content: "\e709";
}

.icon-zhanghao2:before {
  content: "\e65e";
}

.icon-zhanghao1:before {
  content: "\e65b";
}

.icon-mima1:before {
  content: "\e605";
}

.icon-yonghu-yuan:before {
  content: "\e623";
}

.icon-zhuxiao:before {
  content: "\e639";
}

.icon-denglu:before {
  content: "\e608";
}

.icon-zhanghao:before {
  content: "\e63e";
}

.icon-mima:before {
  content: "\e620";
}

.icon-yanzhengyanzhengma:before {
  content: "\e624";
}
